@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&display=swap");

body {
  height: 100hv;
  /* background-image: linear-gradient(to right bottom, #df159b, #ff506c, #ff9051, #f1c75e, #d7f596); */
  background-color: papayawhip;
}


.App {
  height: 100vh;
  font-family: Bungee;
  text-align: center;
  /* background-image: radial-gradient(circle, #0c0b0e, #3d2a39, #7d4654, #ba695c, #e59b59, #e99f55, #eda251, #f0a64d, #db7350, #b64955, #832a55, #4a184a); */
  /* background-image: linear-gradient(to right bottom, #df159b, #ff506c, #ff9051, #f1c75e, #d7f596); */
  background-color: lemonchiffon;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.userc {
  display: flex;
  flex-direction: row;
  
}

.invisform {
  border: none;
  background-color: transparent;
  margin-top: 2rem;
  font-size: 3rem;
  
}
.invisform:hover {
  cursor: pointer;
}

.img {
  height: 300;
  width: 248;
}

.lessons {
  /* background-image: radial-gradient(circle, #0c0b0e, #3d2a39, #7d4654, #ba695c, #e59b59, #e99f55, #eda251, #f0a64d, #db7350, #b64955, #832a55, #4a184a); */
  background-color: blanchedalmond;
  border: 1px solid coral;
  padding: 20px;
}

/* .lessonsWrapper {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #df159b, #ff506c, #ff9051, #f1c75e, #d7f596);
} */

.game {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: peachpuff;
  padding: 10px;
  height: 600px;
  width: 600px;
  border: 1px solid coral;
}

.gameTile {
  background-color: blanchedalmond;
  border: 1px solid coral;
  padding: 20px;
  height: 100px;
  width: 100px;
}